.chat {
  display: flex;
  flex-direction: column;
  flex: 65%;
}

.chat__header {
  display: flex;
  align-items: center;
  padding: 28px;
  border-bottom: 1px solid lightgray;
}

.chat__header--info {
  flex: 1;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2vw;
}

.chat__header--right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

.chat__header--info > p {
  color: #525252;
}
